<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Audesto-login</title>
        <link rel="stylesheet" href="../styles/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../styles/other/css/login.css">
        <script src="../styles/other/js/login.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css.css">
    </head>
<body class="text-center">
    <header>
    </header>
    <section class="main-section"> 
        <div class="container"> 
            <div class="user signinbox"> 
                <div class="imagebox"> 
                    <img src="../assets/voiture.jpg"> 
                </div> 
                <div class="formbox"> 
                    <div class="form"> <h2>Signin</h2> 
                        <input type="text" placeholder="username"> 
                        <input type="password" placeholder="Password"> 
                        <input type="submit" value="Login"> 
                        <p class="signup-text">Don't have an account? <a href="#" onClick="toggleform();">Signup</a></p> 
                    </div> 
                </div> 
            </div> 
            <div class="user signupbox"> 
                <div class="formbox"> 
                    <div class="form"> <h2>Signup</h2> 
                        <input type="text" placeholder="Name"> 
                        <input type="email" placeholder="Email"> 
                        <input type="password" placeholder="Password"> 
                        <input type="submit" value="Signup"> 
                        <p class="signup-text">Already have an account? 
                            <a href="#" onClick="toggleform();">Login</a>
                        </p> 
                    </div> 
                </div> 
                <div class="imagebox"> 
                    <img src="../assets/voiture2.jpg"> 
                </div> 
            </div> 
        </div>
    </section>
    <script src="../styles/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>