<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Audesto-Profile</title>
        <link rel="stylesheet" href="../styles/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../styles/other/css/profile.css">
        <script src="../styles/bootstrap/js/jquery.min.js"></script>
    </head>
<body>
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
          <div class="col-md-3 mb-2 mb-md-0">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
                <span class="fs-4">Audesto</span>
              </a>
          </div>
    
          <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
            <li><a href="./immobilierPage.html" class="nav-link px-2">Immobilier</a></li>
            <li><a href="./voiturePage.html" class="nav-link px-2">Voitures</a></li>
            <li><a href="./about.html" class="nav-link px-2">About</a></li>
          </ul>
          <div class="col-md-3 text-end">
            <button type="button" class="btn btn-outline-primary me-2">Login</button>
            <button type="button" class="btn btn-primary">Sign-up</button>
          </div>
           <div class="dropdown text-end">
              <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="#" alt="Annitta" width="32" height="32" class="rounded-circle">
              </a>
              <ul class="dropdown-menu text-small">
                <li><a class="dropdown-item" href="./profile.html">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
              </ul>
          </div>
        </header>
        
    </div>
    <center>
        <div class="container2 ">
            <div class="divider"></div>
            <main class="text-center">
              <div class="container rounded bg-white mt-5 mb-5">
                  <div class="row">
                      <div class="col-md-3 border-right">
                          <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">Edogaru</span><span class="text-black-50">edogaru@mail.com.my</span><span> </span></div>
                      </div>
                      <div class="col-md-5 border-right">
                          <div class="p-3 py-5">
                              <div class="d-flex justify-content-between align-items-center mb-3">
                                  <h4 class="text-right">Profile information</h4>
                              </div>
                              <div class="row mt-2">
                                  <div class="col-md-6"><label class="labels">Name</label><input type="text" class="form-control" placeholder="first name" value=""></div>
                                  <div class="col-md-6"><label class="labels">Surname</label><input type="text" class="form-control" value="" placeholder="surname"></div>
                              </div>
                              <div class="row mt-3">
                                  <div class="col-md-12"><label class="labels">Mobile Number</label><input type="text" class="form-control" placeholder="enter phone number" value=""></div>
                                  <div class="col-md-12"><label class="labels">Email</label><input type="text" class="form-control" placeholder="enter email" value=""></div>
                                  <div class="col-md-12"><label class="labels">Password</label><input type="text" class="form-control" placeholder="password" value=""></div>
                              </div>
                              <div class="row mt-3">
                                  <div class="col-md-6"><label class="labels">Country</label><input type="text" class="form-control" placeholder="country" value=""></div>
                                  <div class="col-md-6"><label class="labels">State/Region</label><input type="text" class="form-control" value="" placeholder="state"></div>
                              </div>
                              <div class="row mt-3">
                                <button class="btn btn-primary profile-button b" type="button"><a href="./compteUpdate.html">Edit Profile </a></button>
                              </div>
                          </div>
                      </div>
                  </div>
                </div>
            </div>    
          <div class="divider"></div>
              </div>
          </main>
        </div>
    </center>
   
  <script src="../styles/bootstrap/js/bootstrap.bundle.min.js"></script>
    
</body>
</html>